:root{
  --main-color: #100D37;
  --secondary-color: #383472;
  --font-primary: rgb(255, 255, 255);
  --font-secondary: rgba(245, 245, 245, 0.322);
  --font-type: 'Poppins', sans-serif;
  --border-radius: 17px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  background: rgb(2,0,36);
  color: var(--font-primary);
  font-family: var(--font-type);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.coininfo{
  background-color: rgba(161, 161, 161, 0.377);
  word-wrap: break-word;
  border-radius: 5%;
}

p{
  font-size: 15px;
  color: var(--font-primary);
}

.myList{
  background-color: var(--secondary-color);
  width: 100%;
  min-height: 12em;
  border-radius: 10px;
}

h3{
  color: white;
  
}

button{
  padding: .5em;
  border: none;
  border-radius: 5px;
  background-color: #483bff;
  color: antiquewhite;
  width: 10em;
  margin: 5em;
}

.navbar-brand{
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #383472;
  margin: auto;
  padding: 1em;
  text-align: center;
  align-items: center;
  
}