body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards{
  background-color: rgb(221, 221, 221);
  border-radius: 2%;
}

.coininfo{
  background-color: rgb(240, 240, 240);
  word-wrap: break-word;
}

p{
  font-size: 15px;
  color: rgb(99, 98, 98);
}

.myList{
  background-color: rgb(171, 214, 18);
  width: 100%;
  min-height: 8em;
}